.films_container {
  padding: 0;
}

.films_card_container {
  display: flex;
  justify-content: space-between;
  padding: 0 90px;
  max-width: 900px;
  gap: 50px 30px;
  flex-wrap: wrap;
  font-size: 2rem;
  line-height: 2.1rem;
  margin: 0 auto;
}

.film_card_container__title {
  font-size: 30px;
  line-height: 35px;
}

.film_card_container__favourite_films, .film_card_container__all_films {
  cursor: pointer;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 50px;
  border-radius: 5px;
  transition: 0.2s;
  background-color: cadetblue;

  &:hover {
    background-color: rgb(197, 197, 197);
  }
}